html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,
body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
section::after {
    position: absolute;
    content: '';
    pointer-events: none;
}
.home {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #d9eefd;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9eefd), to(#FFFFFF));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #d9eefd, #FFFFFF);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #d9eefd, #FFFFFF);

    /* IE 10 */
    background: -ms-linear-gradient(top, #d9eefd, #FFFFFF);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #d9eefd, #FFFFFF);
}
.hamburger {
    position: absolute;
    width: 90px;
    z-index: 11;
    top: -40px;
    left: 50%;
    margin-left: -45px;
    cursor: pointer;
}
.hamburger > svg > circle {
    fill : #0062cc;
}
.hamburger > svg > g > rect {
    fill: #FFFFFF;
}
.sitemenu {
    position: fixed;
    top: -40px;
    left: 50%;
    margin-left: -150px;
    z-index: 99;
}
#menuwrapper {
    width: 300px;
}
svg#menuwrapper > g {
    cursor: pointer;
}
svg#menuwrapper > g#home > rect:nth-child(1) {
   fill: #61350c;
}
svg#menuwrapper > g#home > rect:nth-child(2) {
    fill: #fbbf6f;
}
svg#menuwrapper > g#home > rect:nth-child(4) {
    fill: #c12305;
 }
svg#menuwrapper > g#home > polygon {
   fill: #c12305;
}
svg#menuwrapper > g#about > circle:nth-child(1) {
    fill: #fdedd7;
    stroke-width: 3;
    stroke: #c12305;
}
svg#menuwrapper > g#career > rect:nth-child(1) {
    fill: transparent;
}
svg#menuwrapper > g#career > line {
    stroke: #61350c;
    stroke-width: 3px;
}
svg#menuwrapper > g#portolio > circle {
    fill: transparent;
    stroke-width: 3;
    stroke: #feb511;
}
svg#menuwrapper > g#portolio > rect:nth-child(2) {
    fill: #6b4a00;
}
svg#menuwrapper > g#portolio > path {
    fill:  transparent;
    stroke: #feb511;
    stroke-width: 3;
}
svg#menuwrapper > g#portolio > rect:nth-child(4) {
    fill: #fbbf6f;
}
svg#menuwrapper > g#blog > rect {
    fill: transparent;
    stroke: #065aad;
    stroke-width: 3;
}
svg#menuwrapper > g#blog > line {
    stroke: #61350c;
    stroke-width: 4px;
}
svg#menuwrapper > g#contact > circle:nth-child(1) {
    fill: transparent;
    stroke-width: 3;
    stroke: #39bf09;
}
svg#menuwrapper > g#contact > path {
    fill: transparent;
    stroke-width: 4;
    stroke: #8f09bf;
}
svg#menuwrapper > g#contact > ellipse:nth-child(3), ellipse:nth-child(4)  {
    fill: #8f09bf;
}
.middle {
    width: 100%;
    height: 300px;
    position: relative;
}
.bottom {
    position: relative;
    height: 190px;
}
.home:after {
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    bottom: -25px;
    z-index: 10;
    background: #065aad;
}
.waves {
    position: relative;
    height: 90%;
}

.waves:after {
    height: 80px;
    background-color: #065aad;
    content: '';
    z-index: 2;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -20px;
}

.waves svg {
    width: 108%; 
}
.waves svg>* {
    position: relative;
}

.waves svg>*:nth-child(1) {
    animation: move 5s infinite ease-in-out;
    animation-delay: -2.5s;
    right: 0;
}

.waves svg>*:nth-child(2) {
    animation: move 5s infinite ease-in-out;
    animation-delay: -3s;
    right: 0;
}

.waves svg>*:nth-child(3) {
    animation: move 7s infinite ease-in-out;
    animation-delay: -5s;
    right: 0;
}

.waves svg>*:nth-child(4) {
    animation: move 9s infinite ease-in-out;
    animation-delay: -2s;
}

@-o-keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

@-ms-keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

.cloudwrapper {
    width: 100%;
    position: relative;
}

.cloud {
    width: 100px;
    fill: white;
    stroke: #b6e0fd;
    stroke-width: 2;
    stroke-linejoin: round;
    z-index: 9;
    position: absolute;
}

.cloud:nth-child(1) {
    left: 20px;
    top: 20px;
}

.cloud:nth-child(2) {
    width: 150px;
    left: 80px;
    top: 50px;
}

.cloud:nth-child(3) {
    width: 250px;
    left: 220px;
    top: 90px;
}

.cloud:nth-child(4) {
    width: 100px;
    right: 20px;
    top: 50px;
}

.cloud:nth-child(5) {
    width: 200px;
    right: 120px;
    top: 50px;
}

.sunwrapper {
    z-index: 2;
    width: 275px;
    margin: 0 auto;
    margin-left: 8%;
    position: relative;
}

.sun {
    fill: #feb511;
}

#sunBeam {
    fill: #feb511;
    stroke: #feb511;
    stroke-width: 3;
    stroke-linecap: round;
}
.sunrays {
    position: absolute;
    width: 300px;
    top: -28px;
    left: -14px;
}
.sunrays > svg > g > polygon { 
    fill: #feb511;
    position: absolute;
    width: 40px;
    height: 100px;
}

.sunrays > svg > g > polygon:nth-child(1) {
    transform: rotate(-180deg);
}

.sunrays > svg > g > polygon:nth-child(2) {
    transform: rotate(145deg);
}

.sunrays > svg > g > polygon:nth-child(3) {
    transform: rotate(120deg);
}

.sunrays > svg > g > polygon:nth-child(4) {
    transform: rotate(90deg);
}

.sunrays > svg > g > polygon:nth-child(5) {
    transform: rotate(72deg);
}

.sunrays > svg > g > polygon:nth-child(6) {
    transform: rotate(50deg);
}

.sunrays > svg > g > polygon:nth-child(7) {
    transform: rotate(30deg);
}

.sunrays > svg > g > polygon:nth-child(8) {
    transform: rotate(10deg);
}

.sunrays > svg > g > polygon:nth-child(9) {
    transform: rotate(-7deg);
}

.sunrays > svg > g > polygon:nth-child(10) {
    transform: rotate(-28deg);
}

.sunrays > svg > g > polygon:nth-child(11) {
    transform: rotate(-47deg);
}

.sunrays > svg > g > polygon:nth-child(12) {
    transform: rotate(-70deg);
}
.sunrays > svg > g > polygon:nth-child(13) {
    transform: rotate(-96deg);
}
.sunrays > svg > g > polygon:nth-child(14) {
    transform: rotate(-146deg);
}
.sunrays > svg > g > polygon:nth-child(15) {
    transform: rotate(-122deg);
}
.field {
    position: absolute;
    right: -19%;
    /* z-index: 10; */
    top: -126px;
    width: 50%;
}
.field > svg {
    fill: #74da0c;
}
.tree {
    position: absolute;
    width: 200px;
    z-index: 90;
    right: 0;
    top: -250px;
}
.tree > svg > polygon:nth-child(1) {
    fill: #74da0c;
}
.tree > svg > polygon:nth-child(2) {
    fill: #5fb706;
}
.tree > svg > polygon:nth-child(3) {
    fill: #4e9802;
}
.tree > svg > rect {
    fill: #603f16;
}
.personinfo{
    position: absolute;
    width: 250px;
    left: 36%;
    top: 10%;
}
.personinfo > svg > g > text:nth-child(1){
    font-size: 50px;
    font-weight: bold;
}
.personinfo > svg > g > text:nth-child(2){
    font-size: 30px;
    font-weight: bold;
}
.ballon {
    position: absolute;
    width: 300px;
    right: 20%;
    top: -35%;
    animation: updown 5s infinite ease-in-out;
    animation-delay: -2s;
}

@-o-keyframes updown {
    0% {
        top:-35%;
    }

    50% {
        top:-45%;
    }

    100% {
        top:-35%;
    }
}
@-webkit-keyframes updown {
    0% {
        top:-35%;
    }

    50% {
        top:-45%;
    }

    100% {
        top:-35%;
    }
}
@-moz-keyframes updown {
    0% {
        top:-35%;
    }

    50% {
        top:-45%;
    }

    100% {
        top:-35%;
    }
}
@keyframes updown {
    0% {
        top:-35%;
    }

    50% {
        top:-45%;
    }

    100% {
        top:-35%;
    }
}

@media screen and (max-width:768px) {
    @-o-keyframes updown {
        0% {
            top:-20%;
        }
    
        50% {
            top:-30%;
        }
    
        100% {
            top:-20%;
        }
    }
    @-webkit-keyframes updown {
        0% {
            top:-20%;
        }
    
        50% {
            top:-30%;
        }
    
        100% {
            top:-20%;
        }
    }
    @-moz-keyframes updown {
        0% {
            top:-20%;
        }
    
        50% {
            top:-30%;
        }
    
        100% {
            top:-20%;
        }
    }
    @keyframes updown {
        0% {
            top:-20%;
        }
    
        50% {
            top:-30%;
        }
    
        100% {
            top:-20%;
        }
    }
}

.ballon > svg > g > circle:nth-child(1) {
    transform: rotate(10deg);
    opacity: 0.6;
    fill: #007bff;
}
.ballon > svg > g > circle:nth-child(2) {
    transform: rotate(7deg);
    opacity: 0.6;
    fill: #23b703;
}
.ballon > svg > g > ellipse {
    opacity: 0.6;
    fill: #e000e0;
}
.ballon > svg > g > line {
    stroke: #61350c;
    stroke-width: 2px;
}
.ballon > svg > g > rect {
    fill: #212529;
}
.ballon > svg > g:nth-child(2) > rect {
    fill: #61350c;
}
.ballon > svg > g > text {
    fill: #FFFFFF;
}
.aboutme {
    background: #FFFFFF;
    position: relative;
}
.aboutme:after {
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    bottom: -25px;
    z-index: 10;
    background: #FFFFFF;
}
.aboutme .container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 55px 0 35px 0;
    box-sizing: border-box;
}
.aboutme .container h1{
    text-align: center;
}
.aboutme .myintro {
    line-height: 22px;
}
.career {
    background: #fff1de;
    position: relative;
}
.career:after {
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    bottom: -25px;
    z-index: 10;
    background: #fff1de;
}
.career .container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 55px 0 25px 0;
}
.career .container h1{
    text-align: center;
}
.career .career-container {
    box-sizing: border-box;
    display: flex;
}
.career-image, .technology-tree {
    width: 50%;
}
.career-image > svg > g > rect {
    fill: #000000;
}
.career-image > svg > g > text {
    fill: #FFFFFF;
}
.career-image > svg > g > circle {
    fill: #000000;
}
.career-image > svg > g#person > line{
    stroke: #000000;
    stroke-width: 4;
}
.career-image > svg > g#person > line:nth-child(7){
    stroke: #000000;
    stroke-width: 7;
}
.career-image > svg > g:nth-child(2n) > rect {
    fill: #c12305;
}
.contact {
    background: #6aac30;
}
.contact .container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 55px 0 0 0;
}
.contact .container h1{
    text-align: center;
}
.contact .container > svg {
    position: relative;
    top: 5px;
}


@media screen and (max-width:1100px) {
    .home:after {
        bottom: -7px;
    }
}
@media screen and (max-width:900px) {
    .home:after {
        bottom: 15px;
    }
}
@media screen and (max-width:768px) {
    .aboutme .container {
        padding-top: 30px;
    }
}
@media screen and (max-width:680px) {
    .home:after {
        bottom: 40px;
    }
}
@media screen and (max-width:480px) {
    .home:after {
        bottom: 55px;
    }
}